{% extends "base.html" %}

{% block main %}
<h1 >Modification de l'auteur {{ selectedAuteur.Nom }}</h1>
<form role="form" method="POST" action="{{ url_for ('saveAuteur') }}">
    {{ updateForm.hidden_tag () }}
    <div
    {% if updateForm.Nom.errors %}
            class="form-group has-error"
    {% else %}
            class="form-group mb-3"
    {% endif %}
    >
    {{ updateForm.Nom.label }}
    {{ updateForm.Nom(size =50, class_="form-control") }}
    </div>
    {% if updateForm.Nom.errors %}
            <ul class ="list-group">
            {% for e in updateForm.Nom.errors %}
            <li class ="list-group-item list-group-item-danger" >{{ e }} </li >
            {% endfor %}
            </ul >
    {% endif %}
    <input class ="btn btn-success" type="submit" value ="Enregistrer">
    <a href="{{ url_for('getAuteurs') }}" class="btn btn-secondary">Retour</a>
</form >
{% endblock %}