{% extends "base.html" %}

{% block main %}
<h1 >Modification du livre {{ selectedLivre.Prix }}</h1>
<form role="form" method="POST" action="{{ url_for ('saveLivre') }}">
    {{ updateForm.hidden_tag () }}
    <div
    {% if updateForm.Prix.errors %}
            class="form-group has-error"
    {% else %}
            class="form-group mb-3"
    {% endif %}
    >
    {{ updateForm.Prix.label }}
    {{ updateForm.Prix(size =50, class_="form-control") }}
    </div>
    {% if updateForm.Prix.errors %}
            <ul class ="list-group">
            {% for e in updateForm.Prix.errors %}
            <li class ="list-group-item list-group-item-danger" >{{ e }} </li >
            {% endfor %}
            </ul >
    {% endif %}
    <input class ="btn btn-success" type="submit" value ="Enregistrer">
    <a href="{{ url_for('getLivres') }}" class="btn btn-secondary">Retour</a>
</form>
{% endblock %}